.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
	color: rgba(83, 52, 196, 0.829);
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px rgb(64, 48, 211);
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
  font-family: 'Brush Script MT', cursive;
}
.logo {
	height: 100px;
	width: 130px;
}
  
.categories {
	text-align: center;
	padding-top: 30px;
	
}

.categories-select {
	margin-right: 15px;
}
.footer {
	color: black;
	padding: 32px;
	border-top: solid 3px rgb(64, 48, 211);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.footer-elem {
	margin-bottom: 10px;
}
.layout-inner {
	display: flex;
	flex-direction: row;
}
.film-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}


.film-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}

.film-item-quality {
	position: absolute;
	border-radius: 15px 15px 15px 0;
	background-color: #4c4d4b;
	color: white;
	padding: 7px;
	right: 0;
	top: 0;
	font-weight: 500;
}
.watching-list {
	width: 100%;

}

.film-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.film-list :hover {
	opacity: 90%;
}
.body-page{
	background-color: hsla(60, 57%, 91%, 0.397);
}